/*LAYOUT*/
* {
  box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.desktop--01 {
  min-width: 850px;
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #f52853;
  background-image: linear-gradient(to right bottom, #f52853, #f57929);
}
.desktop--02 {
  background-color: #fff;
  min-width: 850px;
  padding-top: 120px;
  padding-bottom: 100px;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/* TABLET-LAYOUT */
@media screen and (max-width: 870px) {
  body {
    background-color: #f52853;
    background-image: linear-gradient(to right bottom, #f52853, #f57929);
  }
  .wrap {
    max-width: 100%;
    padding: 0;
  }
  .desktop--01,
  .desktop--02 {
    min-width: 321px;
    padding: 0;
    background-color: transparent;
    background-image: none;
  }
}
/*INTRO*/
.intro {
  float: left;
  width: 50%;
  padding-top: 90px;
}
.intro__logo {
  margin-left: 230px;
}
.intro__title {
  margin: 0;
  font-size: 120px;
  font-weight: 100;
  letter-spacing: 0.01666667em;
  color: #fff;
}
.intro__text {
  margin: 0;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0.03333333em;
  color: #fff;
}
.intro__appstore {
  background-color: transparent;
  border: none;
}
.intro__appstore img {
  transition: 2s box-shadow ease;
}
.intro__appstore img:hover {
  box-shadow: 0 0 50px 100px #f52853 inset;
}
/* TABLET-INTRO */
@media screen and (max-width: 870px) {
  .intro {
    float: none;
    width: 100%;
    padding-top: 40px;
  }
  .intro__title {
    text-align: center;
    font-size: 80px;
  }
  .intro__text {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    max-width: 332px;
  }
  .intro__logo {
    display: block;
    margin: 0 auto;
    width: 80px;
  }
  .intro__appstore {
    display: block;
    margin: 0 auto;
  }
}
/*SCREENSHOTS*/
.screenshot--01 {
  float: right;
  width: 37.4%;
  min-width: 250px;
}
.screenshot--01 img:last-child {
  display: none;
}
.screenshot img {
  width: 100%;
}
.screenshot--02 {
  float: left;
  width: 37.4%;
  min-width: 250px;
}
/* TABLET-SCREENSHOTS */
@media screen and (max-width: 870px) {
  .screenshot--01 {
    float: none;
    min-width: 200px;
    content: '';
    display: table;
    clear: both;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
  }
  .screenshot img {
    width: 50%;
    min-width: 200px;
    max-width: 250px;
  }
  .screenshot--01 img:first-child {
    float: left;
  }
  .screenshot--01 img:last-child {
    display: block;
    float: right;
  }
  .screenshot--02 {
    display: none;
  }
}
/* MOBILE-SCREENSHOTS */
@media screen and (max-width: 420px) {
  .screenshot--01 img:last-child {
    display: none;
  }
}
/*FEATURES*/
.features ul {
  margin: 0;
}
.features {
  float: right;
  max-width: 50%;
  margin-left: 20px;
  padding-top: 80px;
}
.features__feature {
  position: relative;
  padding-bottom: 40px;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0.033333em;
  list-style: none;
  color: #f52853;
}
.features__feature::before {
  position: absolute;
  left: -50px;
  content: '—';
}
/* TABLET-FEATURES */
@media screen and (max-width: 870px) {
  .features {
    margin: 0 auto;
    float: none;
    max-width: 100%;
    background-color: #fff;
  }
  .features__feature {
    width: 100%;
    font-size: 24px;
    text-align: center;
  }
  .features__feature::before {
    display: none;
  }
  .features ul {
    padding-left: 0;
  }
}
/*FEEDBACK*/
.feedback {
  min-width: 850px;
  background-color: #dfdfdf;
  padding-top: 120px;
  padding-bottom: 150px;
}
.feedback__txt {
  display: none;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1000px;
  min-width: 810px;
  font-size: 24px;
  padding: 45px 60px;
  text-align: center;
  color: #fff;
  background-color: #f52853;
  background-image: linear-gradient(to right bottom, #f52853, #f5533c);
}
.js-feedback-on {
  display: block;
}
.feedback__user {
  float: left;
  margin-top: 200px;
  display: block;
  position: relative;
  width: 33.33333333%;
  padding-left: 84px;
  text-decoration: none;
}
.feedback__txt::before {
  position: absolute;
  bottom: -26px;
  left: 0;
  content: '';
  width: 53px;
  height: 26px;
}
.feedback__txt--user01::before {
  left: 10%;
  background-image: url(../img/reply-01.svg);
}
.feedback__txt--user02::before {
  left: 41%;
  background-image: url(../img/reply-02.svg);
}
.feedback__txt--user03::before {
  left: 72%;
  background-image: url(../img/reply-03.svg);
}
.feedback__name::before {
  position: absolute;
  left: 0;
  top: -8px;
  content: '';
  width: 66px;
  height: 66px;
  background-image: url(../img/user.png);
}
.feedback__name {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: #f52853;
  text-decoration: none;
}
.feedback__job {
  margin: 0;
  font-size: 18px;
  color: #000;
}
/* TABLET-FEEDBACK */
/*FOOTER*/
footer {
  background-color: #dfdfdf;
  display: none;
}
.footer__appstore {
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
  background-color: transparent;
  border: none;
}
/* TABLET-FOOTER */
