* {
  box-sizing: border-box;
}

  html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.desktop--01 {
  min-width: 1000px;
  padding-top: 120px;
  padding-bottom: 100px;
  background-image: linear-gradient(to right bottom, #f52853, #f57929);
  background-repeat: no-repeat;

}

.wrap {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.intro,
.screenshot--01{
  min-height: 780px;
}

.intro {
  float: left;
  max-width: 500/1000*100%;
  padding-top: 90px;
}

.screenshot--01 {
  float: right;
}

.intro__logo {
  margin-left: 230px;
}

.intro__title {
  margin: 0;
  font-size: 120px;
  font-weight: 100;
  letter-spacing: 2/120em;
  color: #fff;
}

.intro__text {
  margin: 0;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1/30em;
  color: #fff;
}

.intro__appstore,
.footer__appstore {
  background-color: transparent;
  border: none;
}

/* .intro__appstore {
  transition: 2s box-shadow ease;
}

.intro__appstore:hover {
  box-shadow: 0 0 6px 6px rgba(255, 255, 255, .4) inset;
} */

.desktop--02 {
  background-color: #fff;
  min-width: 850px;
  padding-top: 120px;
  padding-bottom: 100px;
}

.screenshot--02 {
  float: left;
}

.features {
  float: right;
  max-width: 500/1000*100%;
  margin-left: 20px;
  padding-top: 150px;
}

.features__feature {
  position: relative;
  padding-bottom: 40px;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0.033333em;
  list-style: none;
  color: #f52853;
}

.features__feature::before {
  position: absolute;
  left: -50px;
  content: '—';
}

.feedback {
  min-width: 1000px;
  background-color: #dfdfdf;
  padding-top: 120px;
  padding-bottom: 150px;
}

.feedback__txt {
  margin: 0;
  position: absolute;
  max-width: 926px;
  font-size: 24px;
  /* min-width: 800px; */
  padding:75px;
  padding-top: 45px;
  text-align: center;
  vertical-align: center;
  color: #fff;
  background-position: 50%;
}

.feedback__txt--maria {
  display: none;
  background-image: url(../img/response-01.svg);
  background-repeat: no-repeat;
}

.feedback__txt--petr {
  display: none;
  background-image: url(../img/response-02.svg);
  background-repeat: no-repeat;
}

.feedback__txt--ark {
  display: none;
  background-image: url(../img/response-03.svg);
  background-repeat: no-repeat;
}

.js-feedback-on {
  display: block;
}

.feedback__user {
  float: left;
  margin-top: 200px;
  display: block;
  position: relative;
  width: 960/3px;
  padding-left: 84px;
  text-decoration: none;
}

.feedback__user::before {
  position: absolute;
  left: 0;
  top: -8px;
  content: '';
  width: 66px;
  height: 66px;
  background-image: url(../img/user.png);
}

.feedback__name {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: #f52853;
  text-decoration: none;
}

.feedback__job {
  margin: 0;
  font-size: 18px;
  color: #000;
}

footer {
  background-color: #dfdfdf;
  display: none;
}

.footer__appstore {
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
