* {
  box-sizing: border-box;
}

  html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}





.desktop--01 {
  min-width: 850px;
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #f52853;
  background-image: linear-gradient(to right bottom, #f52853, #f57929);
}

.intro,
.screenshot--01{
  /* min-height: 780px; */
}

.intro {
  float: left;
  width: 500/1000*100%;
  padding-top: 90px;
}

.screenshot--01 {
  float: right;
  width: 374/1000*100%;
  min-width: 250px;
}

.screenshot--01 img {
  width: 100%;
}

.intro__logo {
  margin-left: 230px;
}

.intro__title {
  margin: 0;
  font-size: 120px;
  font-weight: 100;
  letter-spacing: 2/120em;
  color: #fff;
}

.intro__text {
  margin: 0;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1/30em;
  color: #fff;
}

.intro__appstore,
.footer__appstore {
  background-color: transparent;
  border: none;
}

.intro__appstore img {
  transition: 2s box-shadow ease;
}

.intro__appstore img:hover {
  box-shadow: 0 0 50px 100px #f52853 inset;
}




.desktop--02 {
  background-color: #fff;
  min-width: 850px;
  padding-top: 120px;
  padding-bottom: 100px;
}

.screenshot--02 {
  float: left;
  width: 374/1000*100%;
  min-width: 250px;
}

.screenshot--02 img {
  width: 100%;
}

.features ul {
  margin: 0;
}

.features {
  float: right;
  max-width: 500/1000*100%;
  margin-left: 20px;
  padding-top: 80px;
}

.features__feature {
  position: relative;
  padding-bottom: 40px;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0.033333em;
  list-style: none;
  color: #f52853;
}

.features__feature::before {
  position: absolute;
  left: -50px;
  content: '—';
}





.feedback {
  min-width: 850px;
  background-color: #dfdfdf;
  padding-top: 120px;
  padding-bottom: 150px;
}

.feedback__txt {
  display: none;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1000px;
  min-width: 810px;
  font-size: 24px;
  padding: 45px 60px;
  text-align: center;
  color: #fff;
  background-color: #f52853;
  background-image: linear-gradient(to right bottom, #f52853, #f57929);
}

.js-feedback-on {
  display: block;
}

.feedback__user {
  float: left;
  margin-top: 200px;
  display: block;
  position: relative;
  width: 1/3*100%;
  padding-left: 84px;
  text-decoration: none;
}

.feedback__user::before {
  position: absolute;
  left: 0;
  top: -20px;
  content: '';
  width: 66px;
  height: 66px;
  background-image: url(../img/user.png);
}

.feedback__name::before {
  position: absolute;
  left: 0;
  top: -8px;
  content: '';
  width: 66px;
  height: 66px;
  background-image: url(../img/user.png);
}

.feedback__name {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: #f52853;
  text-decoration: none;
}

.feedback__job {
  margin: 0;
  font-size: 18px;
  color: #000;
}

footer {
  background-color: #dfdfdf;
  display: none;
}

.footer__appstore {
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
